
<div>

  <%= f.label :user_id %>
  <%= f.collection_select(:id, @users, :id, :first_name ) %> <br>

  <%= f.label :percent  %>:
  <%= f.number_field :percent %>
</div>
  <%# @users.each_with_index do |user, i| %>
    <%#= user.first_name %> 
    <%#= f.label :percent  %>
    <%#= f.number_field :percent %> <br>
    <%#= label_tag "#{user.id}".to_sym  %>
    <%#= number_field_tag "#{user.id}".to_sym %> 
  <%# end %>
