

  <div class="home">

    <h1>Shared living made easy</h1>
    <h3>Billshare makes it easy to split bills flexibly and keeps track of all your expenses.
    </h3>
    <%= image_tag "billshare_home.png", class: "screens" %>
</div>