html, body {
  min-height: 100%;
  height: 100%;
}

body {
  // background: url("billshard_background_light.jpg") no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  background: #fafafa;
  color: #00395d;
  font-family: verdana,arial,sans-serif;
  
  a {
    color:#fff;
  }
  h2 a {
    color: #007eb6;
  }
  header {
    // background: black;
    background: #00395d;
    height: 60px;
    line-height: 60px;
    //border-bottom: 1px solid #ececec;

    
    nav {
      margin: 0 auto;
      max-width: 960px;
      height: 60px;
      line-height: 60px;
      text-align: right;

      ul {
        font-family: verdana,arial,sans-serif;
        text-align: right;
        display: inline-block;
        width: 100%;
  
        li {
          display: inline-block;
          padding: 0 10px;

          a {
            text-decoration: none;
            color: #7fbeda; //#007eb6; //nav labels
          }
          a:hover {
            text-decoration: none;
            color: white;  //nav labels
          }
        }
        img {
          vertical-align: middle;
        }
      }
    }
  }
  main {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    //background: white;
    //color: black;
  }

  .logo1  {
    font-family: trebuchet MS,bold;
    color: white;
    margin-top: 4px;
    margin-left: 20px;
    font-size: 72px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 1;

  }

  .logo2 {
    @extend .logo1;
    color: #7fbeda;
    position: absolute;
    left: 100px;
  }


.home {
  text-align: center;
  font-family: verdana,arial,sans-serif;
}

h1 {
margin-top: 40px;
font-size: 3em;
}

h3 {
  margin-top: 10px;
  font-size: 1em;
}
.screens {
  padding-right: 20px; 
  margin-top: 50px;
  float: right;
  max-width: 90%;

}

  footer {

  }
}



@media screen and (min-width: 961px) {
  
  body {
    header {
      nav {
        ul {
          li {
            display: inline-block;
          }
        }
        #nav-icon {
          display: none;
        }
      }
    }
  }

}

@media screen and (max-width:960px) {

  body {
    header {
      nav {
        ul {
          margin-top: 60px;
          position: absolute;
          right: 0;

          li {
            z-index: 0;
            display: none;
            background: #00395d;
            text-align: right;
            padding-right: 20px;

          }
        }
        #nav-icon {
          display: inline-block;
          font-size: 50px;
          float: right;
          color: #7fbeda;
          text-decoration: none;
          margin-right: 20px;
        }
      }
    }
  }
}



 


