body {
  background: url("billshare_background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  header {
    background: black;
    height: 60px;
    line-height: 60px;
    
    nav {
      max-width: 960px;
      height: 60px;
      line-height: 60px;
      margin: 0 auto;
      float: right;

      ul {
        font-family: "Arial";
        text-align: right;
        display: inline-block;
        li {
          display: inline-block;
          padding: 0 10px;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
        img {
          vertical-align: middle;
        }
      }
    }
  }
  main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
  }
  footer {

  }
}



@media screen and (min-width: 961px) {
  
  body {
    header {
      nav {
        ul {
          li {
            display: inline-block;
          }
        }
        #nav-icon {
          display: none;
        }
      }
    }
  }

}

@media screen and (max-width:960px) {

  body {
    header {
      nav {
        ul {
          margin-top: 60px;
          position: absolute;
          right: 0;
          li {

            display: none;
            background: black;
            text-align: right;
            margin-right: 20px;

          }
        }
        #nav-icon {
          display: inline-block;
          font-size: 50px;
          float: right;
          color: white;
          text-decoration: none;
          margin-right: 20px;
        }
      }
    }
  }
}



 


