 body {
 background-image: url("billshare_background.jpg");
 background-size: cover;
 }

 .background {
  width: cover;
 }

 .floatright {
  background-color: black;
  float:right;
  padding-top: 15px;
  padding-bottom: 10px;

 }


li {
  text-decoration: none;
  list-style: none;
  font-family: "Arial";
  display: inline;
  padding: 0 1em;
  color: white;
    
}

