body {
  background: url("billshare_background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  header {
    background: black;
    height: 60px;
    line-height: 60px;
    
    nav {
      max-width: 960px;
      height: 60px;
      line-height: 60px;
      margin: 0 auto;

      ul {
        font-family: "Arial";
        text-align: right;
        li {
          display: inline-block;
          padding: 0 10px;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
        img {
          vertical-align: middle;
        }
      }
    }
  }
  main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
  }
  footer {

  }
}



@media screen and (max-width:960px) {

  .site-nav ul li {
    display: none;
  }

 .nav-icon {

   position: relative;
   padding-right: 1.25em;
   float: right;

 }
 .nav-icon:before {
   position: absolute;
   top: 0.25em;
   left: 0;
   width: 3em;
   height: 0.125em;
 }
}



  @media screen and (min-width:961px) {

    .nav-icon {
      display: none;
    }

}

 /* .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    text-decoration: none;
  }

  .nav-icon:before { 
    content:'\2630'; 
    color: white;
    font-size: 2em;
  }*/


 


