$padding: 15px;
$module-background: white; //#dadada;
$module-border-color: #00395d; // #39a299;
$button-background-color: #007eb6;
$site-width: 960px;
$border-radius: 5px;

.module {
  background-color: $module-background;
  width: 100%;
  float: left;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
  // border: 2px solid $module-border-color;
  text-align: center;
  padding: $padding;

  label {
    display: block;
    line-height: 1.5;
  }

  input, textarea, select {
    border: 2px solid $module-border-color;
    -webkit-border-radius: $border-radius;
    border-radius: $border-radius;
    background: white;
    color: black;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: $padding;
    }

  select {
    height: 50px;
  }

  input[type=submit], .button {
    padding: $padding 0; 
    background: $button-background-color; 
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: $border-radius;
    border-radius: $border-radius;
    font-size: 20px;
    color: white;
    display: block;
    width: 100%;
    margin-top: 15px;
  }

  a, input, textarea, select, .button {
    margin-bottom: $padding;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


// box header
h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

// forgot password text
a {
  color: black;
  text-decoration: none;
}
