$padding: 15px;
$module-background: #dadada;
$module-border-color: #39a299;
$button-background-color: $module-border-color;
$site-width: 960px;

.module {
  background-color: $module-background;
  width: 100%;
  float: left;
  border: 2px solid $module-border-color;
  text-align: center;
  padding: $padding;

  label {
    display: block;
    line-height: 1.5;
  }

  input, textarea, select {
    border: 2px solid $module-border-color;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: $padding;
    margin-bottom: $padding;
  }

  select {
    height: 50px;
  }

  input[type=submit], .button {
    padding: $padding 0; 
    background: $button-background-color; 
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-size: 20px;
    color: white;
    display: block;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// box header
h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

// forgot password text
a {
  color: black;
  text-decoration: none;
}
